.DS_Store
.idea/
/practice2/tasks/Практическая работа 2.docx
/practice2/tasks/lego.csv
/practice2/results/lego.json
/practice2/results/lego.msgpack
/practice2/results/lego.pkl
/practice3/tasks/task_1_var_80/
/practice3/tasks/task_2_var_80/
/practice3/tasks/task_3_var_80/
/practice3/tasks/task_4_var_80/
